*.class
*.log
*.jar

# master version
src/main/resources/master

# tdb storage
.data/*
# except place holder
!.data/_tdb_

# sbt specific
dist/*
target/
lib_managed/
src_managed/
project/boot/
project/plugins/project/

# Scala-IDE specific
.scala_dependencies

# eclipse
.cache
.classpath
.project

# mac
.DS_Store
